{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">


            {% for team in teams %}
        <div class="col-md-3">
            <a href="/players/{{ team.idTeam }}" >
                <img src="{{ team.strTeamBadge }}" typeof="" width="75" height="75"/>
            </a>
        </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
