{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">

        <div class="col-md-3 col-md-offset-3">
            {% for team in teams %}
            <a href="/players/{{ team.idTeam }}" >
                <img src="{{ team.strTeamBadge }}" typeof="" width="75" height="75"/>
            </a>
            {% endfor %}
        </div>


    </div>

{% endblock %}
